[gcode_macro START_PRINT]
description: Start an Encore Mini print
gcode:
    {% set BED_TEMP = params.BED_TEMP|default(60)|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(210)|float %}

    G90
    M83

    M140 S{BED_TEMP}                    ; Start bed heating
    M104 S{[EXTRUDER_TEMP - 25, 170]|max} ; Preheat nozzle near target

    G28

    M190 S{BED_TEMP}                    ; Wait for bed
    M109 S{EXTRUDER_TEMP}               ; Finish nozzle heating

    G92 E0
    G1 Z2.0 F1200
    G1 X5 Y5 F6000
    G1 Z0.28 F600

    G1 Y90 E8 F900
    G1 X5.5 F6000
    G1 Y10 E8 F900

    G92 E0
    G1 Z2.0 F1200

[gcode_macro END_PRINT]
description: Finish print, relieve nozzle pressure, retract and park
gcode:
    M400
    SAVE_GCODE_STATE NAME=end_print_state

    G91
    G1 Z5 F1200
    G90

    M83
    G92 E0

    # Small flush, then retract to reduce post-print ooze
    G1 E0.5 F180
    G4 P300
    G1 E-2.5 F1800

    # Park at rear centre
    G1 X60 Y115 F6000

    TURN_OFF_HEATERS
    M107
    M84

    RESTORE_GCODE_STATE NAME=end_print_state MOVE=0
    M117 Print finished

[gcode_macro PID_HOTEND]
description: PID tune hotend
gcode:
    {% set TEMP = params.TEMP|default(210)|int %}

    M117 PID Tune
    PID_CALIBRATE HEATER=extruder TARGET={TEMP}

    

[gcode_macro MOVE_LEFT_FRONT]
description:CYD_SCREEN_MACRO
gcode:
    # 1. Fetch current homing status
    {% set homed = printer.toolhead.homed_axes %}
    
    # 2. Check if the printer is homed first
    {% if 'xyz' not in homed %}
        G28 ; Home all axes if not already homed
    {% endif %}

    # 3. Read limits safely from the configuration file parser
    {% set max_z = printer.configfile.config["stepper_z"]["position_max"] | float %}
    {% set min_x = printer.configfile.config["stepper_x"]["position_min"] | default(0) | float %}
    {% set min_y = printer.configfile.config["stepper_y"]["position_min"] | default(0) | float %}
    {% set act_z = printer.toolhead.position.z | float %}

    # 4. Calculate a safe Z lift height (lift 5mm, but cap it at max Z height)
    {% set safe_z = act_z + 5.0 %}
    {% if safe_z > max_z %}
        {% set safe_z = max_z %}
    {% endif %}

    # 5. Execute the moves
    G90                               ; Switch to absolute positioning
    G1 Z{safe_z} F1500               ; Lift nozzle slightly to avoid dragging
    G1 X{min_x} Y{min_y} F6000       ; Move to front left corner

[gcode_macro MOVE_BED_CENTER]
gcode:
    # 1. Fetch current homing status
    {% set homed = printer.toolhead.homed_axes %}

    # 2. Home if necessary
    {% if 'xyz' not in homed %}
        G28
    {% endif %}

    # 3. Read axis limits from configuration
    {% set min_x = printer.configfile.config["stepper_x"]["position_min"] | default(0) | float %}
    {% set max_x = printer.configfile.config["stepper_x"]["position_max"] | float %}
    {% set min_y = printer.configfile.config["stepper_y"]["position_min"] | default(0) | float %}
    {% set max_y = printer.configfile.config["stepper_y"]["position_max"] | float %}
    {% set max_z = printer.configfile.config["stepper_z"]["position_max"] | float %}
    {% set act_z = printer.toolhead.position.z | float %}

    # 4. Calculate bed centre
    {% set centre_x = (min_x + max_x) / 2.0 %}
    {% set centre_y = (min_y + max_y) / 2.0 %}

    # 5. Calculate a safe Z lift
    {% set safe_z = act_z + 5.0 %}
    {% if safe_z > max_z %}
        {% set safe_z = max_z %}
    {% endif %}

    # 6. Move safely
    G90
    G1 Z{safe_z} F1500
    G1 X{centre_x} Y{centre_y} F6000


[gcode_macro MOVE_FRONT_CENTER]
description:CYD_SCREEN_MACRO
#description: Move toolhead to a convenient front-centre position
gcode:
    {% set homed = printer.toolhead.homed_axes %}

    {% if 'xyz' not in homed %}
        G28
    {% endif %}

    {% set min_x = printer.configfile.config["stepper_x"]["position_min"]|default(0)|float %}
    {% set max_x = printer.configfile.config["stepper_x"]["position_max"]|float %}
    {% set min_y = printer.configfile.config["stepper_y"]["position_min"]|default(0)|float %}
    {% set max_z = printer.configfile.config["stepper_z"]["position_max"]|float %}
    {% set current_z = printer.toolhead.position.z|float %}

    {% set center_x = (min_x + max_x) / 2 %}
    {% set front_y = min_y + 10 %}
    {% set safe_z = [current_z + 20, max_z - 2]|min %}

    G90
    G1 Z{safe_z} F1200
    G1 X{center_x} Y{front_y} F6000    

[gcode_macro PARK]
description:CYD_SCREEN_MACRO
#description: Park toolhead safely at rear centre
gcode:
    {% set homed = printer.toolhead.homed_axes %}

    {% if 'xyz' not in homed %}
        G28
    {% endif %}

    {% set min_x = printer.configfile.config["stepper_x"]["position_min"]|default(0)|float %}
    {% set max_x = printer.configfile.config["stepper_x"]["position_max"]|float %}
    {% set max_y = printer.configfile.config["stepper_y"]["position_max"]|float %}
    {% set max_z = printer.configfile.config["stepper_z"]["position_max"]|float %}
    {% set current_z = printer.toolhead.position.z|float %}

    {% set center_x = (min_x + max_x) / 2 %}
    {% set park_y = max_y - 5 %}
    {% set safe_z = [current_z + 10, max_z - 2]|min %}

    G90
    G1 Z{safe_z} F1200
    G1 X{center_x} Y{park_y} F6000
    M117 Parked

    [gcode_macro PID_PLA]
description: PID tune hotend at 210C
gcode:
    M106 S128
    PID_CALIBRATE HEATER=extruder TARGET=210


[gcode_macro PID_PETG]
description: PID tune hotend at 245C
gcode:
    M106 S128
    PID_CALIBRATE HEATER=extruder TARGET=245


[gcode_macro PID_BED]
description: PID tune bed at 60C
gcode:
    PID_CALIBRATE HEATER=heater_bed TARGET=60

 [gcode_macro BED_TRAM_POSITION]
description: Move to bed tramming point POSITION=FL/FR/RL/RR/C
gcode:
    {% set POSITION = params.POSITION|default("C")|upper %}
    {% set OFFSET = params.OFFSET|default(20)|float %}
    {% set Z = params.Z|default(5)|float %}
    {% set homed = printer.toolhead.homed_axes %}

    {% if 'xyz' not in homed %}
        G28
    {% endif %}

    {% set min_x = printer.configfile.config["stepper_x"]["position_min"]|default(0)|float %}
    {% set max_x = printer.configfile.config["stepper_x"]["position_max"]|float %}
    {% set min_y = printer.configfile.config["stepper_y"]["position_min"]|default(0)|float %}
    {% set max_y = printer.configfile.config["stepper_y"]["position_max"]|float %}

    {% set left = min_x + OFFSET %}
    {% set right = max_x - OFFSET %}
    {% set front = min_y + OFFSET %}
    {% set rear = max_y - OFFSET %}
    {% set center_x = (min_x + max_x) / 2 %}
    {% set center_y = (min_y + max_y) / 2 %}

    {% if POSITION == "FL" %}
        {% set x = left %}
        {% set y = front %}
    {% elif POSITION == "FR" %}
        {% set x = right %}
        {% set y = front %}
    {% elif POSITION == "RL" %}
        {% set x = left %}
        {% set y = rear %}
    {% elif POSITION == "RR" %}
        {% set x = right %}
        {% set y = rear %}
    {% else %}
        {% set x = center_x %}
        {% set y = center_y %}
    {% endif %}

    G90
    G1 Z{Z} F1200
    G1 X{x} Y{y} F6000
    M117 Tram position {POSITION}

[gcode_macro SAFE_SHUTDOWN]
description: Turn off heaters and fans, park and disable motors
gcode:
    TURN_OFF_HEATERS
    M107

    {% if 'xyz' in printer.toolhead.homed_axes %}
        PARK
    {% endif %}

    M84
    M117 Printer safe to switch off    

    #####################################################################
# MATERIAL PRESETS
#####################################################################

[gcode_macro PREHEAT_PLA]
description:CYD_SCREEN_MACRO
#description: Preheat for PLA
gcode:
    M117 Preheating PLA
    M140 S60
    M104 S210

[gcode_macro PREHEAT_PETG]
description: Preheat for PETG
gcode:
    M117 Preheating PETG
    M140 S80
    M104 S245

[gcode_macro PREHEAT_TPU]
description: Preheat for TPU
gcode:
    M117 Preheating TPU
    M140 S45
    M104 S225

[gcode_macro COOL_DOWN]
description: Turn heaters off
gcode:
    M117 Cooling Down
    TURN_OFF_HEATERS
    
